In [30]:
import pandas as pd

In [31]:
# import csv file to dataframes
cars_df = pd.read_csv("Car_Detail.csv")
house_df = pd.read_csv("Median_Household_Incomes.csv")

In [34]:
# NA count for each column in cars_df
cars_df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [35]:
# Median MSRP of cars that are Convertibles
cars_df[cars_df["Vehicle Style"] == "Convertible"]["MSRP"].median()

44350.0

In [36]:
# Engine Horse Power of the cars with the least Populatiry
cars_df[cars_df["Popularity"] == cars_df["Popularity"].min()]["Engine HP"]

2116    400.0
2117    400.0
2118    400.0
Name: Engine HP, dtype: float64

In [38]:
house_df["DATE"]

0     1/1/84
1     1/1/85
2     1/1/86
3     1/1/87
4     1/1/88
5     1/1/89
6     1/1/90
7     1/1/91
8     1/1/92
9     1/1/93
10    1/1/94
11    1/1/95
12    1/1/96
13    1/1/97
14    1/1/98
15    1/1/99
16    1/1/00
17    1/1/01
18    1/1/02
19    1/1/03
20    1/1/04
21    1/1/05
22    1/1/06
23    1/1/07
24    1/1/08
25    1/1/09
26    1/1/10
27    1/1/11
28    1/1/12
29    1/1/13
30    1/1/14
31    1/1/15
32    1/1/16
33    1/1/17
34    1/1/18
Name: DATE, dtype: object

In [39]:
2018-1984

34

In [40]:
# Year of the Highest median income in Texas
house_df[house_df["Median_TX"] == house_df["Median_TX"].max()]["DATE"]

33    1/1/17
Name: DATE, dtype: object

In [59]:
# Remove all rows with NA from cars_df
cars_df_no_na = cars_df.dropna()

# Create Database with cars that only have all wheel drive
cars_allwheel = cars_df_no_na[cars_df_no_na["Driven_Wheels"] == "all wheel drive"]

# Top Three cars with all wheel drive by make
cars_allwheel.groupby(["Make"])["Driven_Wheels"].count().sort_values(ascending=False).head(3)

Make
Audi      254
Subaru    190
BMW       144
Name: Driven_Wheels, dtype: int64

In [44]:
# The top 5 Years with the lowest average Highway mpg
cars_df_no_na.groupby(["Year"])["highway MPG"].mean().sort_values().head(5)

Year
2007    21.163090
2003    21.761364
2002    21.915493
2008    22.478049
2004    22.637363
Name: highway MPG, dtype: float64

In [45]:
# drop all rows with NA in house database
house_nona = house_df.dropna()

# Extract year from date into Year column
house_nona['Year'] = pd.DatetimeIndex(house_nona['DATE']).year

# create database with for only CA homes
house_ca = house_nona[["Year", "Median_CA"]]

# Group cars by year and msrp and median.
car_msrp = cars_df_no_na[["Year", "MSRP"]].groupby("Year").median()

In [50]:
car_msrp = car_msrp.reset_index()

In [51]:
car_house = pd.merge(car_msrp, house_ca, on='Year')

In [52]:
car_house[["MSRP", "Median_CA"]].corr()

               MSRP  Median_CA
MSRP       1.000000   0.883431
Median_CA  0.883431   1.000000

In [53]:
house_diff = house_nona.set_index("DATE").diff()

In [54]:
house_diff.max()

Median_CA     3774.0
Median_CO    10590.0
Median_NY     3110.0
Median_TX     3240.0
Median_IN     7970.0
Year             1.0
dtype: float64

In [55]:
house_diff[house_diff["Median_CO"] == 10590.0]["Median_CO"]

DATE
1/1/13    10590.0
Name: Median_CO, dtype: float64

In [56]:
cars_df_no_na.reset_index(level=0, inplace=True)

In [57]:
cars_df_no_na.head()

,index,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [58]:
cars_df_no_na["id"] = cars_df_no_na["index"]

<ipython-input-58-5fa83501dfaf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars_df_no_na["id"] = cars_df_no_na["index"]

In [29]:
cars_df_no_na.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [ ]:

# create dummie columns from columns with lists
def dummie(column, index):
    # create a new dataframe from the column series with game_id as the index
    new_df = pd.DataFrame(column.str.split(', ').tolist(), index=game_id).stack()
    # reset the index
    new_df = new_df.reset_index([0, 'game_id'])
    # convert categorical variable into dummy variables
    new_df = pd.get_dummies(new_df)
    # sum and get rid of duplicate rows
    new_df = new_df.groupby(['game_id']).sum().reset_index()
    # Take 0_ out of each column name
    new_df.rename(columns=lambda x: x[2:], inplace=True)
    new_df.rename(columns={'me_id': 'game_id'}, inplace=True)
        
    return new_df